<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rpc.Bulletin.Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RpcBulletinMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rpc.Bulletin.Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rpc.Bulletin.Maker.Properties.Settings>
            <setting name="SourceFilesFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\SourceFiles</value>
            </setting>
            <setting name="TeXMorningBulletinTemplate" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\SourceCode\Rpc.TeX.Library\RPC-Bulletin-AM.tex</value>
            </setting>
            <setting name="TeXEveningBulletinTemplate" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\SourceCode\Rpc.TeX.Library\RPC-Bulletin-PM.tex</value>
            </setting>
            <setting name="TeXFileFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\TeXFiles</value>
            </setting>
            <setting name="PdfGeneratorExe" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\miktex-portable\texmfs\install\miktex\bin\x64\xelatex.exe</value>
            </setting>
            <setting name="TargetFilesFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\TargetFiles</value>
            </setting>
            <setting name="TeXWorksExe" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\miktex-portable\texmfs\install\miktex\bin\x64\texworks.exe</value>
            </setting>
        </Rpc.Bulletin.Maker.Properties.Settings>
        <RpcBulletinMaker.Properties.Settings>
            <setting name="SourceFilesFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\SourceFiles</value>
            </setting>
            <setting name="TeXMorningBulletinTemplate" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\RpcBulletinBuilder\RPC-Bulletin-AM.tex</value>
            </setting>
            <setting name="TeXEveningBulletinTemplate" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\RpcBulletinBuilder\RPC-Bulletin-PM.tex</value>
            </setting>
            <setting name="TeXFileFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\TeXFiles</value>
            </setting>
            <setting name="PdfGeneratorExe" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\miktex-portable\texmfs\install\miktex\bin\x64\xelatex.exe</value>
            </setting>
            <setting name="TargetFilesFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\TargetFiles</value>
            </setting>
            <setting name="TeXWorksExe" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\miktex-portable\texmfs\install\miktex\bin\x64\texworks.exe</value>
            </setting>
        </RpcBulletinMaker.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Rpc.Bulletin.Maker.Properties.Settings>
            <setting name="ReviewEmailRecipients" serializeAs="String">
                <value>joseph.rolison@gmail.com</value>
            </setting>
            <setting name="ReviewEmailSubject" serializeAs="String">
                <value>Bulletin for your review</value>
            </setting>
            <setting name="ReviewEmailBody" serializeAs="String">
                <value>Hi Joe,

Here are the bulletin(s) for your review.

Thank you,
David</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>david.olson63@gmail.com</value>
            </setting>
            <setting name="EmailRecipients" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value>Sundays Bulletin</value>
            </setting>
            <setting name="EmailBody" serializeAs="String">
                <value>Hi all,

Attached are the bulletin(s) for this Sunday.
 
Please let me know of you have any questions.
 
David</value>
            </setting>
            <setting name="EmailSmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="UseSsl" serializeAs="String">
                <value>True</value>
            </setting>
        </Rpc.Bulletin.Maker.Properties.Settings>
    </userSettings>
</configuration>