<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rpc.Bulletin.Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RpcBulletinMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rpc.Bulletin.Maker.Properties.Settings>
            <setting name="SourceFilesFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\SourceFiles</value>
            </setting>
            <setting name="TeXMorningBulletinTemplate" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\SourceCode\Rpc.TeX.Library\RPC-Bulletin-AM.tex</value>
            </setting>
            <setting name="TeXEveningBulletinTemplate" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\SourceCode\Rpc.TeX.Library\RPC-Bulletin-PM.tex</value>
            </setting>
            <setting name="TeXFileFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\TeXFiles</value>
            </setting>
            <setting name="PdfGeneratorExe" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\miktex-portable\texmfs\install\miktex\bin\x64\xelatex.exe</value>
            </setting>
            <setting name="TargetFilesFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\TargetFiles</value>
            </setting>
            <setting name="TeXWorksExe" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\miktex-portable\texmfs\install\miktex\bin\x64\texworks.exe</value>
            </setting>
        </Rpc.Bulletin.Maker.Properties.Settings>
        <RpcBulletinMaker.Properties.Settings>
            <setting name="SourceFilesFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\SourceFiles</value>
            </setting>
            <setting name="TeXMorningBulletinTemplate" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\RpcBulletinBuilder\RPC-Bulletin-AM.tex</value>
            </setting>
            <setting name="TeXEveningBulletinTemplate" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\RpcBulletinBuilder\RPC-Bulletin-PM.tex</value>
            </setting>
            <setting name="TeXFileFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\TeXFiles</value>
            </setting>
            <setting name="PdfGeneratorExe" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\miktex-portable\texmfs\install\miktex\bin\x64\xelatex.exe</value>
            </setting>
            <setting name="TargetFilesFolder" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\TargetFiles</value>
            </setting>
            <setting name="TeXWorksExe" serializeAs="String">
                <value>C:\Users\david\Desktop\RPC Bulletin Builder\miktex-portable\texmfs\install\miktex\bin\x64\texworks.exe</value>
            </setting>
        </RpcBulletinMaker.Properties.Settings>
    </applicationSettings>
</configuration>